*{
  margin: 0%;
  padding: 0%;
}
body{
  margin: 0%;
  padding: 0%;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  contain: '';
  position:relative;
  margin: 0%;
  width: 100%;
  height: 150px;
  background: #1d1d1d;
  box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
  background-image: linear-gradient(to top, #1a1b1f, #212528);
  border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
  color: white;
  opacity: 90% ;
  border: 0.1vh solid #000;
  max-width: 100%;
  border-right-width: 0px;
  border-left-width: 0px;
}
.header2{
  position: relative;
  z-index: 1;
margin: 0% 0% 0% 0% ;
padding: 0%;
max-width: 100%;
text-align: center;
 }
.header2 img{
  max-width: 200px ;
  width: 100%;
  max-height: 200px;
  height: 100%;
  margin: -37px 0% 0% 0%;
  
}
.rotate {
  -webkit-transition: -webkit-transform 0.8s;
}
.rotate:hover{
  -webkit-transform: rotate(-360deg) translateZ(0);
}
.header2 h1{
  margin: 0% 0% 0% 0%;
  font-size: 180%;
}
#L1{
  padding: 0%;
  margin: 0;
  background-color: #1d1d1d;
  box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
  border: 0.1vh solid #000;
  background-image: linear-gradient(to top, #1a1b1f, #212528);
    height: 2.3vw;
    width: 40vw;
    font-size: 2.07vw;
    text-align: left;
    position: relative;
    margin-left: 49%;
    border-radius: 20% 20% 0% 0%/40% 40% 0% 0%;
}
#L1 a{
   padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  color: #fff;
}
#L2{
  border-radius: 20% 0% 0% 0%/40% 0% 0% 0%;
}
#L4{
  border-radius: 0% 20% 0% 0%/0% 40% 0% 0%;
}
#L1 a:hover{
 background-image: linear-gradient(to top, #eeeeee, #eeeeee);
 text-shadow: 2px 2px 2px #1d1d1d;
}
main{
  text-align: center;
  contain: '';
  position:relative;
  margin: 0%;
  width: 80%;
  height: 100%;
  /* background: #1d1d1d;
  box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
  background-image: linear-gradient(to top, #1a1b1f, #212528); */
  color: white;
  opacity: 90% ;
  /* border: 0.1vh solid #000; */
  max-width: 100%;
  margin-left: 10%;
  margin-top: 5%;
}
main #mainbox{
  contain: '';
  position:relative;
  margin: 0%;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
  background-image: linear-gradient(to top, #1a1b1f, #212528);
  color: white;
  opacity: 90% ;
  border: 0.1vh solid #000;
  max-width: 100%;
  /* margin-top: 2.45%; */
  padding-bottom: 5%;
}
main h2{
  contain: '';
  position:absolute;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 5vw;
  background: #1d1d1d;
  box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
  background-image: linear-gradient(to top, #1a1b1f, #212528);
  color: white;
  opacity: 100% ;
  border: 0.1vh solid #000;
  max-width: 100%;
  margin-top: -2.3vh;
  left: 0vh;
  z-index: 2;
  font-size: 4vw;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
main p{
  padding-top: 10%;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 3vw;
  font-size: 100%
}
 main .col{
   position: relative;
 }
 .col1{
   position: relative;
   margin-left: 0.1vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-around;
 }
 .col1 img{
   width: 20vw;
   height: 20vw ;
   padding-top: 3vw
 }
 .col1 h4{
   font-size: 2vw;
   width: 20vw;
   
 }
 #colfooter{
   position: relative;
   /* margin-top: 100vw; */
   width: 100%;
   margin-top: 5%;
   background: #1d1d1d;
  box-shadow: inset 0 0.1vh 0.1vh rgb(255 255 255 / 20%);
  background-image: linear-gradient(to top, #1a1b1f, #212528);
  color: white;
  opacity: 100% ;
  border: 0.1vh solid #000;
  max-width: 100%;
  text-align: center;
  font-size: 1.5vw;
  border-right-width: 0px;
  border-left-width: 0px;
 }
 #colfooter a{
   text-decoration: none;
   color: #fff;
   
 }
 
 #colfooter a:hover{
background-image: linear-gradient(to top, #eeeeee, #eeeeee);
 text-shadow: 2px 2px 2px #1d1d1d;
 }
 #colfooter h4{
   padding-bottom: 1%;
   padding-top: 1%;
 }
 #colfooter p{
   padding-bottom: 1%;
   padding-top: 1%;
 }